streamlit
pandas
numpy
matplotlib
plotly
scikit-learn
tensorflow
keras
folium
streamlit-folium
geopandas
shapely
pyproj
fiona
rtree
pyyaml
python-dateutil
protobuf==3.20.*
urllib3<2
